<li>
  <%= if quest.inspiration then quest.inspiration.content end %> - 
  <%= if quest.question then quest.question.content end%> -
  <%= if quest.answer then quest.answer.content end%> by <%= quest.user.name %> 
</li>
