
<%= will_paginate @select_children %>
<br/>

<div class = "techniques_select">
  <%= render :partial => 'add_child', :locals => { :child => @parent, :select_parents => @select_children} %>
</div>

<br/>
<%= will_paginate @select_children %>
