if(!$('.backdrop').length){
  $('body').append('<div class = "backdrop"></div>');
  $('.backdrop').click(function(){
    if($('.box').length) $('.box').remove();
    $(this).remove();
  });
};

if(!$('.box').length){
  $('body').append('<div class = "box"><div class = "close">close</div>This is the lightbox</div>');
}
$('.box').html(
  '<a id="fightbox_close" href="#">x</a>' + 
  "<%= escape_javascript(render :partial => 'search_children', :locals => {:parent => @parent}) %>" +
  "<%= escape_javascript( will_paginate @select_children ) %> </br>" +
  "<div class = 'techniques_select'>" +
  "<%= escape_javascript(render :partial => 'add_child', :locals => {:parent => @parent, :select_children => @select_children }) %>" +
  "</div></br>" +
  "<%= escape_javascript( will_paginate @select_children ) %>");

$('#fightbox_close').click(function(){
  $('.box').remove();
  $('.backdrop').remove();
});
