  <div class = "technique_candidate shadow">
    <%= render :partial => "videos/video", :locals => {:video => parent.videos.first, 
                                                       :video_width => 150, :video_height => 122} %>
    <%= link_to parent.name, technique_relationships_path(
              :technique_relationship => {:parent_id => parent.id, :child_id => child.id}, 
              :origin => 'child'), :remote => true, :method => :post %>
  </div>
