<tr>
  <td><%= render technique.videos %></td>
  <td>
      <ul>
          <li> <%= link_to technique.name, technique %> </li>
          <li> <%= technique.description %> </li>
      </ul>
  </td>
<tr/>
