
<div class = "technique_thumb">
  <%= render :partial => "videos/video", :locals => {:video => technique.videos.first, 
                                                     :video_height => 122, :video_width => 150} %>
  <%= link_to technique.name, technique %>
</div>

