<iframe src="http://www.screenr.com/embed/s358" width="650" height="396" frameborder="0"></iframe>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<p>
  Youtube is a great resource for learning and cataloguing Brazilian Jiu Jitsu techniques, but there is no way to relate the individual videos to each other. <br /><br />
  As anyone knows, who has studied jiu jitsu, our techniques are often executed in chains, each subsequent move performed in response to the counters executed by our opponent. <br /><br />
  Fightchain.com is meant to allow you to capture the relationships between your favorite techniques for easier learning, understanding, and execution.
</p>
