body{
  padding-top: 40px;
  background: #ffffff;  
}

a.brand {
  color: red !important;
}


/*Techniques*/
/* edit */
.edit_technique #technique_name {
  width: 611px;
}

.edit_technique #technique_description {
  width: 600px;
  height: 85px
}

.edit_technique #technique_videos_attributes_0_url {
  width: 611px;
}

/*Technique Layouts*/

div.technique {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  //border: 1px solid black;
  padding: 1.5em;
  position: relative;
}

div.technique ul {
  list-style-type: none;
}

div.technique table {
  margin: 0em;
}

div.techniques {
  height: auto;
  overflow: auto;
}

div.techniques div.technique_thumb {
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  //border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

div.parent_techniques {
  margin-left: 1.5em;
  width: auto;
  height: auto;
  overflow:auto;
  background-color: #fff;
}

div.child_techniques {
  margin-left: 1.5em;
  width: auto;
  height: auto;
  overflow:auto;
  background-color: #fff;
}


div.h_scroll {
  float: left;
  margin-right: -30000px;
}

div.technique_thumb {
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  //border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

div.technique_thumb div.youtube_video { 
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

a.remove_relative {
  position: absolute;
  top: 0px;
  right: 6px;
  color: black;
  font-size: 13px;
  font-weight: 900;
}

div.technique_thumb a.thumb_name:hover {
}

div.techniques_select{
  height: auto;
  overflow: auto;
}

div.technique_candidate {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;

  border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

.shadowX {
  -moz-box-shadow: 3px 3px 5px #aaa;
  -webkit-box-shadow: 3px 3px 5px #aaa;
  box-shadow: 3px 3px 5px #aaa;
}

.notice a.bookmarklet {color:red;}
.notice a.bookmarklet:visited {color:red;}
