.container{
  width:710px;
}

body{
  background: #ffffff;
}

header{
  padding-top: 20px;
}

header img {
  padding: 0em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:visited {
  color: red;
}

/* Navigation */

nav {
  float: right;
  background-image: url(/assets/nav.png);
  height: 50px;
  font-size: 115%;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;  
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: white;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color:red;
}

nav span {
  color: #ff4f4f;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #000;
  background: #d00;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  border: 1px solid black;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Border */

.simple_border {
  border: 1px solid black;
}

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* User new page */
div.field, div.actions {
  margin-bottom: 10px;
}

/* Error message styles */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

/*Techniques*/
/* edit */
.edit_technique #technique_name {
  width: 611px;
}

.edit_technique #technique_description {
  width: 600px;
  height: 85px
}

.edit_technique #technique_videos_attributes_0_url {
  width: 611px;
}

/*Technique Layouts*/

div.technique {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  //border: 1px solid black;
  padding: 1.5em;
  position: relative;
}

div.technique ul {
  list-style-type: none;
}

div.technique table {
  margin: 0em;
}

div.techniques {
  height: auto;
  overflow: auto;
}

div.techniques div.technique_thumb {
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  //border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

div.parent_techniques {
  margin-left: 1.5em;
  width: auto;
  height: auto;
  overflow:auto;
  background-color: #fff;
}

div.child_techniques {
  margin-left: 1.5em;
  width: auto;
  height: auto;
  overflow:auto;
  background-color: #fff;
}


div.h_scroll {
  float: left;
  margin-right: -30000px;
}

div.technique_thumb {
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  //border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

div.technique_thumb div.youtube_video { 
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

a.remove_relative {
  position: absolute;
  top: 0px;
  right: 6px;
  color: black;
  font-size: 13px;
  font-weight: 900;
}

div.technique_thumb a.thumb_name:hover {
}

div.techniques_select{
  height: auto;
  overflow: auto;
}

div.technique_candidate {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;

  border: 1px solid black;
  margin: 0em 1em 1em 1em;
  width: 150px;
  height: 180px;
  overflow: hidden;
  font-size: small;
  position: relative;
}

.shadowX {
  -moz-box-shadow: 3px 3px 5px #aaa;
  -webkit-box-shadow: 3px 3px 5px #aaa;
  box-shadow: 3px 3px 5px #aaa;
}

.notice a.bookmarklet {color:red;}
.notice a.bookmarklet:visited {color:red;}
