<footer>
  <nav>
    <ul>
      <li><%= link_to about_path do %>
        A<span>b</span>out 
      <% end %>
      </li>
      <li><%= link_to contact_path do %>
        C<span>o</span>ntact
      <% end %>
      </li>
    </ul>
  </nav>
</footer>
